
tr.headrow
{
color:white; background-color: navy
}



tr.odd
{
background-color: #eeeeff;
}

tr.even
{
background-color: #FFFFFF;
}

.error
{
	width: 100%;
	color: red;
	background-color: #CCCCCC;

}


table.form{
border: 1px solid navy; padding: 0px;  
}





a:link     { color:ffffff; text-decoration: none;}
a:visited  { color:ffffff; text-decoration: none;}
a:active   { color:ffffff; text-decoration: none;}
a:HOVER {
	color:red; text-decoration: none;
}



body
{
background-color: ffffff;
font-family: verdana, arial, 'sans serif'; 
font-size: 60%;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}

