@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
}

h1 {
	background: navy;
	color: white;
}

h2 {
	color: blue;
}

thead {
	background: navy;
	color: white;
}

td {
	padding: 4pt;
}

.even-row {
	background: rgb(200,200,200);
}

.odd-row {
	background: white;
}
.validator{
color: red;
font-weight: bold;
}