
/** Site Body **/
body {
	margin: 5px;
}
/* provides a continer to center a child div in */
div.body_container{
   float:left;
   margin-top:-80px;
   width:100%;
}

/* centers in parent as long as parent is larger then child*/
div.body_content {
   margin:0 auto;
   width:980px;
   padding-left: 25px;
}

div.navigationContainer {
    border: none;
    float: left;
    width: 230px;
    border-bottom: 1px solid #d9d9d9;
}

/* margin-left should be updated along with the relative position of */
div.contentContainer {
    background: none;
    border: none;
    float:left;
    padding-left: 6px;
    width:720px;
}

.collapsibleProjectPanel {
	width: 170px;
}

body, div, dd, dt, dl, img, ul, ol, li, p, h1, h2, h3, h4, h5, form {
    margin: 0;
    padding: 0;
}

.menuHeader {
    background: #619ad9 url(img/menu.top.bg.gif) 0 0 no-repeat;
    border-bottom: 1px solid #000;
}

