<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd     http://www.springframework.org/schema/tx     http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform"
					value="org.hibernate.dialect.MySQLDialect" />
			</bean>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///ecomm" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager" />
	<tx:annotation-driven />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:/hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<!-- Service Beans  -->
	<bean id="customerService"
		class="bizobjects.service.impl.CustomerServiceImpl" />
	<bean id="employeeService"
		class="bizobjects.service.impl.EmployeeServiceImpl" />
	<bean id="placedOrderService"
		class="bizobjects.service.impl.PlacedOrderServiceImpl" />
	<bean id="productService"
		class="bizobjects.service.impl.ProductServiceImpl" />
	<bean id="orderItemService"
		class="bizobjects.service.impl.OrderItemServiceImpl" />
	<!-- Dao Beans  -->
	<bean id="customerDao" class="bizobjects.dao.impl.CustomerDaoImpl" />
	<bean id="employeeDao" class="bizobjects.dao.impl.EmployeeDaoImpl" />
	<bean id="placedOrderDao"
		class="bizobjects.dao.impl.PlacedOrderDaoImpl" />
	<bean id="productDao" class="bizobjects.dao.impl.ProductDaoImpl" />
	<bean id="orderItemDao"
		class="bizobjects.dao.impl.OrderItemDaoImpl" />
</beans>
