@charset "utf-8";
/* CSS Document */

/* Page Elements*/
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}
p {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a img { 
	border: none;
}

a:link {
	color: #F00;
	text-decoration: underline;
}
a:visited {
	color: #F00;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0; 
}
.container {
	width: 820px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.content {
	padding: 0px 0px 0px 0px;
	width: 820px;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}
.floatright {  
	float: right;
	margin-left: 8px;
}
.floatleft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/* Header Elements */
.header {
	width: 820px;
	position: relative;
	height: 106px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 14px;
	color: #FFF;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	}
.topnav {
	z-index:2;
	position: absolute;
	top: 2px;
	right: 248px;
	background: transparent;
	width: 342px;
	text-align: left;
	color: #4F82CB;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	word-spacing: 2px;
	}
.topnav a {
	color: #4F82CB
}
.topnav a:hover, a:active, a:focus {
	color: #F00
}
.toplogin {
	z-index:2;
	position: absolute;
	top: 2px;
	right: 10px;
	background: transparent;
	width: 231px;
	text-align: right;
	color: #4F82CB;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	word-spacing: 2px;
	}
.toplogin a {
	color: #4F82CB
}
.toplogin a:hover, a:active, a:focus {
	color: #F00
}
.propertysummary {
	z-index:1;
	position: absolute;
	top: 25px;
	right: 10px;
	width: 500px;
	text-align: left;
	color: #333;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	word-spacing: 2px;
	background-color: #fafafa;
	padding: 5px;
	border: 1px solid #b0afaf;
	}
/* Main Menu */
	/* Root = Horizontal, Secondary = Vertical */
#navmenuplacement {
	position:absolute;
	width:700px;
	height:25px;
	z-index:10;
	left: 100px;
	top: 70px;
}
	ul#navmenu {
	border: 0 none;
	padding: 0;
	width: 100%; /*For KHTML*/
	list-style: none;
	height: 26px;
	float: right;
	margin-top: 90;
	margin-bottom: 0;
	margin-left: 0;
	z-index: 5;
		}
	
	ul#navmenu li {
		margin: 0 0 0 0;
		border: 0 none;
		padding: 0 0 0 0;
		float: right; /*For Gecko*/
		display: inline;
		list-style: none;
		position: relative;
		height: 26px;
		}
	
	ul#navmenu ul {
	margin: 0 0 0 0;
	border: 0 none;
	padding: 0 0 0 0;
	width: 160px;
	list-style: none;
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
		}
	
	ul#navmenu ul:after /*From IE 7 lack of compliance*/{
		clear: both;
		display: block;
		font: 1px/0px serif;
		content: ".";
		height: 26px;
		visibility: hidden;
		}
	
	ul#navmenu ul li {
		width: 160px;
		float: left; /*For IE 7 lack of compliance*/
		display: block !important;
		display: inline; /*For IE*/
		}
	
	/* Root Menu */
	ul#navmenu a {
	border: 1px solid #cacaca;
	padding: 0 5px 0 5px;
	float: none !important; /*For Opera*/
	float: left 60px; /*For IE*/
	display: block;
	background: #4F82CB;
	color: #ffffff;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 26px;
	font-weight: bold;
		}
	
	/* TOP NAVIGATION MENU */
	ul#navmenu a:hover,
	ul#navmenu li:hover a,
	ul#navmenu li.iehover a {
	color: #000000;
	background-color: #cacaca;
		}
	
	/* 2nd Menu */
	ul#navmenu li:hover li a,
	ul#navmenu li.iehover li a {
		float: none;
		background: #4F82CB;
		color: #FFFFFF;
		}
	
	/* 2nd Menu Hover Persistence */
	ul#navmenu li:hover li a:hover,
	ul#navmenu li:hover li:hover a,
	ul#navmenu li.iehover li a:hover,
	ul#navmenu li.iehover li.iehover a {
	background: #cacaca;
	color: #000000;
		}
	
	/* 3rd Menu */
	ul#navmenu li:hover li:hover li a,
	ul#navmenu li.iehover li.iehover li a {
		color: #FFFFFF;
		background-color: #4F82CB;
		height: 26px;
		}
	
	/* 3rd Menu Hover Persistence */
	ul#navmenu li:hover li:hover li a:hover,
	ul#navmenu li:hover li:hover li:hover a,
	ul#navmenu li.iehover li.iehover li a:hover,
	ul#navmenu li.iehover li.iehover li.iehover a {
	background: #cacaca;
	color: #000000;
		} 
	
	/* 4th Menu */
	ul#navmenu li:hover li:hover li:hover li a,
	ul#navmenu li.iehover li.iehover li.iehover li a {
		color: #FFFFFF;
		background-color: #4F82CB;
		}
	
	/* 4th Menu Hover */
	ul#navmenu li:hover li:hover li:hover li a:hover,
	ul#navmenu li.iehover li.iehover li.iehover li a:hover {
		background: #4F82CB;
		color: #FFF;
		}
	
	ul#navmenu ul ul,
	ul#navmenu ul ul ul {
		display: none;
		position: absolute;
		top: 0;
		left: 160px;
		}
	
	/* Do Not Move - Must Come Before display:block for Gecko */
	ul#navmenu li:hover ul ul,
	ul#navmenu li:hover ul ul ul,
	ul#navmenu li.iehover ul ul,
	ul#navmenu li.iehover ul ul ul {
		display: none;
		}
	
	ul#navmenu li:hover ul,
	ul#navmenu ul li:hover ul,
	ul#navmenu ul ul li:hover ul,
	ul#navmenu li.iehover ul,
	ul#navmenu ul li.iehover ul,
	ul#navmenu ul ul li.iehover ul {
		display: block;
		}

/*Breadcrumb*/
.breadcrumb{
	font: bold 10px "70%/1.5em Verdana, Tahoma, arial, sans-serif", Verdana, Helvetica, sans-serif;
	padding: 15px 18px 0px 0px;
}

.breadcrumb a{
	background: transparent url(../images/bread_arrow.gif) no-repeat center right;
	text-decoration: none;
	color: #4F82CB;
	padding: 0px 18px 0px 10px;
	float: left;
}
.breadcrumb_layer {
	width: 100%;
	text-align: left;
	background-image: url(../images/content.jpg);
}
.status_breadcrumb {
	width: 300px;
	text-align: right;
	float: right;
	clear: left;
	font-weight: bold;
	color: #333;
	padding: 0px 10px 0px 0px;
	top: -15px;
	position: relative;
	font-size: 10px;
}

.breadcrumb a:visited, .breadcrumb a:active{
	color: #4F82CB;
}

.breadcrumb a:hover{
text-decoration: underline;
}
/* Main */
.main {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-position: center top;
}

/* Footer */	
.footer {
	color: #666666;
	clear: both;
	width: 820px;
	height: 60px;
	text-align: center;
	font-size: 9px;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 9px;
	color: 4F82CB;
	padding: 10px 0px 0px 0px;
}
.footer a {
	color: #4F82CB
}
.footer a:hover, a:active, a:focus {
	color: #F00
}
