/** Site body. **/
body {
	
}

/** Site container. **/
#siteContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}

/** Site header container. **/
#siteHeaderContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}

/** Site middle container. **/
#siteMiddleContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}

/** Left container. **/
#leftContainer {
	float: left;
	width: 20%;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}

/** Body container. **/
#bodyContainer {
	float: right;
	width: 72%;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}

/** Site footer container. **/
#siteFooterContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #999;
}
