/** Site body. **/
body {
	
}

/** Site container. **/
#siteContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 1px solid #999;
}

/** Site header container. **/
#siteHeaderContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 0px solid #999;
	-moz-border-radius: 5px;				/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/
	border-radius: 5px;

	/** Gradient fallback. **/
	background-color: #72ca85;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;

	background: -moz-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #51a865, #72ca85);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for IE. **/
}

/** Site middle container. **/
#siteMiddleContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 1px solid #999;
	-moz-border-radius: 5px;				/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/
	border-radius: 5px;
}

/** Left container. **/
#leftContainer {
	float: left;
	width: 20%;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 0px solid #999;
	-moz-border-radius: 5px;				/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/
	border-radius: 5px;

	/** Gradient fallback. **/
	background-color: #39758f;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;

	background: -moz-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #1e5a6e, #39758f);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for IE. **/
}

#loginPanel {
	width: 230px;

	padding-top: 20px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 340px;
}

#loginPanelHeader {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	-moz-border-radius: 5px 5px 0px 0px;	/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/

	background: -moz-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #1e5a6e, #39758f);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #1e5a6e, #39758f);			/** Gradient for IE. **/
}

#loginPanelContent {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;

	-moz-border-radius: 0px 0px 5px 5px;	/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/

	background: -moz-linear-gradient(bottom, #D8DEE2, #D8DEE2);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #D8DEE2, #D8DEE2);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #D8DEE2, #D8DEE2);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #D8DEE2, #D8DEE2);			/** Gradient for IE. **/
}

/** Body container. **/
#bodyContainer {
	float: right;
	width: 72%;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 0px solid #999;
	-moz-border-radius: 5px;				/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/
	border-radius: 5px;

	/** Gradient fallback. **/
	background-color: #41b894;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;

	background: -moz-linear-gradient(bottom, #249972, #41b894);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #249972, #41b894);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #249972, #41b894);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #249972, #41b894);			/** Gradient for IE. **/
}

/** Site footer container. **/
#siteFooterContainer {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;

	border: 0px solid #999;
	-moz-border-radius: 5px;				/** Rounded corners for Firefox. **/
	-webkit-border-radius: 8px;				/** Rounded corners for Chrome/Safari. **/
	border-radius: 5px;

	/** Gradient fallback. **/
	background-color: #72ca85;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;

	background: -moz-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for Firefox. **/
	background: -webkit-linear-gradient(bottom, #51a865, #72ca85);		/** Gradient for Chrome/Safari. **/
	background: -o-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for Opera. **/
	background: -ms-linear-gradient(bottom, #51a865, #72ca85);			/** Gradient for IE. **/
}
