body {
	background: #e1f4ff color :   #000;;
	margin: 0;;
	padding: 0;;
	font-family: "Helvetica CE",  Helvetica, arial, sans-serif, verdana;
	font-size: 0.7em
}

h1 {
	color: #ef9832;;
	font-size: 1.7em;;
	margin: 0 0 5px 0;;
	font-weight: bold;;
	display: block;;
	border-bottom: 1px dotted #00659f
}

h2 {
	font-size: 1.2em;;
	margin: 10px 0 2px 0;;
	padding: 0;;
	color: #00351f
}

h3 {
	font-size: 1em;;
	color: #ef9832;;
	margin: 0
}

p {
	text-align: justify
}

button btnClass {
	font-family: sans-serif;
	font-size: large;
	font-style: italic;
	background: #22e none;
	color: #eee;
	width: 10em;
}

.formLabel {
	font-size: 1.3em;
	margin: 5px 0 2px 0;
	padding: 0;
	color: #00659f;
	font-weight: 500;
}

table.pageHeader {
	background-color: navy;
	table-layout: automatic;
	color: #fff;
	padding: 0px;
	font-size: .9em;
	font-weight: bolder;
	background-image: url(../images/parts/banner_bg.gif);
	height: 23px;
}

table.pageHeader h2 {
	font-size: 1.3em;
	margin: 10px 0 2px 0;
	padding: 0;
	color: #eef;
	
}

/* This table is used to display form elements  */
table.formTable {
	background-color: #eed;
	border-bottom: 1px #99a solid;
	border-collapse: collapse;
	padding-left: 5px;	
	padding-right: 3px;	
	padding-bottom: 2px;
	
}

table.formTable td{
	padding-left: 5px;	
	padding-right: 3px;	
	padding-bottom: 2px;
	padding-top: 2px;
}

table.formTable th{
	padding-left: 5px;	
	padding-right: 3px;	
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: #cce;
	color: #00659f;
	left: 0px;
}

table.dataTable {
	background-color: #ddeefe;
	border: 1px red;
	table-layout: automatic;
	color: #334;
	padding: 2px 8px 2px 8px;
	font-size: 1.2em;
	border-collapse: collapse;
}

table.dataTable th {
	background: #99a;
	color: #ffe;
	border-bottom: 1px solid #557;
	border-top: 1px solid #557;
}

table.dataTable a:link {
	color: #ffe;
	text-decoration: underline;
}

table.dataTable tr.even {
	background: #fff;
}

#header {
	margin: 10px;
	height: 95px;
	background-color: #ffcc33;
	background-image: url(../images/header_graphic.gif);
	background-repeat: no-repeat;
	background-position: 100% 25%;
}

#left {
	position: absolute;
	left: 10px;
	top: 134px;
	width: 180px;
	background-color: #FFFFFF;
	border: 2px none #666666;
}

#center {
	top: 0;
	margin-left: 200px;
	margin-right: 230px;
	height: 400px;
	min-height: 400px;
}

*>#center {
	height: auto;
}

#center_more {
	top: 0;
	margin-left: 200px;
	margin-right: 10px;
	height: 400px;
	min-height: 400px;
	text-align: left;
}

*>#center_more {
	height: auto;
}

#right {
	position: absolute;
	right: 10px;
	top: 134px;
	width: 200px;
	border: 2px solid #666666;
	background-color: #FFFFCC;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#footer {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: .9em;
	color: #000;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-color: #bbb;
	vertical-align: bottom;
	clear: both;
}

a:link {
	text-decoration: underline;
}

#footer ul {
	margin-left: 0;
	margin-bottom: 5px;
	padding-left: 0;
	display: inline;
}

#footer ul li {
	margin-left: 0;
	padding: 4px 9px 4px 8px;
	list-style: none;
	display: inline;
	border-right: 1px dotted #066;
}

#footer ul li.last {
	border-right: 0px;
}

#footer a:link,#footer a:visited {
	color: blue;
}

#footer a:hover {
	color: #6C99FF;
}

/* general anchor colors */
a:visited {
	color: #333333;
}

a:hover {
	color: #6C99FF;
	text-decoration: underline;
}

/* buttons */
.w3cbutton4 {
	margin: 1em 0;
	width: 9em;
	font-family: helvetica, arial, sans-serif;
	font-size: 99 %;
	font-weight: bold;
}

.w3cbutton4 a {
	display: block;
	width: 100%;
}

.w3cbutton4 a:link,.w3cbutton4 a:visited,.w3cbutton4 a:hover {
	background-color: #fc6;
	color: #000;
	text-decoration: none;
}

.w3cbutton4 a:link,.w3cbutton4 a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 2px solid #4a4a4a;
}

.w3cbutton4 a:hover {
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
}

.w3cbutton4 span.w3c {
	padding: 0 0.4em;
	background-color: #fff;
	color: #0c479d;
}