html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
}

a {
	color: #2f58a4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#page-container {
	width: 860px;
	margin: auto;
	background: #fff;
}

#main-nav {
	height: 30px;
}

#main-nav dl {
	margin: 0;
	padding: 2px;
}

#main-nav dt {
	float: left;
	padding: 4px;
}

#main-nav dl.a {
	font-weight: bold;
	font-size: 13px;
}

#languages {
	float: right;
	height: 30px;
}

#languages dt {
	float: left;
	padding: 2px;
}

#languages dl {
	margin: 0;
	padding: 2px;
}

#header {
	margin: 20px;
}

#title {
	margin-left: 5px;
	background-image: url('../images/icon_track.gif');
	background-repeat: no-repeat;
}

#sideSearch {
	float: right;
	padding: 3px 5px;
}

#footer {
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #ccc;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#sidebar-right { /*background: #f1f1fd; */
	width: 120px;
	float: right;
	padding: 8px 8px;
	height: 330px;
}

#sidebar-left { /*background: #f1f1fd; */ /*width:120px; */
	float: left;
	padding: 8px 8px;
	height: 330px;
}

#content {
	background: #fff;
	font-size: 13px;
	padding: 12px 18px;
	margin-right: 12px;
	margin-left: 12px;
	line-height: 18px;
	height: 100%;
}

table.sidebarLinks {
	background: lightgray;
	border-collapse: collapse;
	margin: 2px;
	width: 120px;
	font-size: 13px;
	line-height: 20px;
}

table.sidebarLinks th {
	background: lightgray;
}

table.sidebarLinks tr {
	background: #eed;
	margin: 4px;
}

table.sidebarLinks td {
	padding: 1px 4px;
}

h1 {
	margin-left: 39px;
	padding: 0;
	text-decoration: underline;
}

#notice {
	border: 1px solid #70a522;
	padding: 5px;
	background: #caea99 /*none repeat scroll 0%*/;
	margin-bottom: 4px;
	font-size: .9em;
	color: #666;
	width: 88%;
}

.messageError {
	border: 1px solid red;
	padding: 5px;
	background: #fdd;
	margin-bottom: 4px;
	font-size: 1em;
	color: #a44;
	width: 88%;
}

.messageInfo {
	border: 1px solid green;
	padding: 5px;
	background: #efe;
	margin-bottom: 4px;
	font-size: 1em;
	color: #666;
	width: 88%;
}


table.viewInfo{
	background:#fff;
	border-collapse:collapse;
	border:1px solid #aad;
	margin: 3px;
	font-size: 13px;
	line-height: 20px;
}

table.viewInfo th{
	background:#aad;
	padding: 2px 6px;
	color: #ffe;
}

table.viewInfo td{
	padding: 2px 6px;
	font-size: .9em;
}

table.viewInfo td.leftCol{
	background:#f9f9f3;
	font-weight: bold;
}	

.roundedBoxJS {
	margin: 0 auto;
	border: 0px solid #ffffff;
	width: 122px;
	padding: 0px;
	text-align: left;
	background-color: #eed;
	border: 1px solid #aaa;
}

input.btn {
	color: #050;
	font-family: 'trebuchet ms', helvetica, sans-serif;
	font-size: 84%;
	font-weight: bold;
	background-color: #eef;
	border: 1px solid;
	border-top-color: #696;
	border-left-color: #696;
	border-right-color: #663;
	border-bottom-color: #663;
	height: 19px;
	background-image: url(../images/parts/bg_button.gif);
}

.searchImg {
	background-image: url(../images/icons/search_icon.gif);
}