
html, body {
	margin: 0;
	padding: 0;
	height:100%; 
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	
	
}

#page-container {
	width: 100%;
	margin: auto;
	background: #fff;
}


#main-nav { height: 2%; }
#main-nav dl { margin: 0; padding: 1px; }
#main-nav dt { float: left; padding: 2px; }
#main-nav dl.a { 
	font-weight:bold; 
	font-size: 13px;
}

#header {
	/*background: #ffe;*/
	float:none;
	height: 15%;
	width:60%;
	margin-top:3%;
	margin-left:8%;
	background-image: url('/kgaugemockup/images/icon_track.gif');
	background-repeat: no-repeat;
}

#sideSearch{
	
	width:20%;
}

#footer {
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #ccc;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#sidebar-right {
	/*background: #f1f1fd; */
	width:15%;
	float: right;
	padding: 8px 8px;
	height:330px;
}

#sidebar-left {
	/*background: #f1f1fd; */
	width:15%;
	float: left;
	padding: 8px 8px;
	height: 100%; 

}


#content {
	background: #fff;
	font-size: 13px;
	width: 610px;
	padding: 12px 18px;
	margin-right: 18%;
	margin-left: 18%;
	line-height: 18px;
	height:100%;
}



table.sidebarLinks{
background:lightgray;
border-collapse:collapse;
padding:5px;
width: 120px;
font-size: 13px;
line-height: 20px;
}


table.sidebarLinks th{
	
	background:lightgray;
}

table.sidebarLinks tr{
	background:#eed;
	margin:4px;
}


h1 {
	margin-left: px;
	padding: 0;
	text-decoration: underline;
}

#notice {
  border: 1px solid #70a522;
  padding: 5px;
  background: #caea99 /*none repeat scroll 0%*/;
  margin-bottom: 4px;
  font-size: .9em;
  color: #666;
  width:88%;
}
};
}}
}
}lor: #666;
  width:88%;
}