/*an id element (#) must be unique in the document*/ 
html, body {
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;1%;1%;1%;
	height:98%%; 
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;	
}

a { color: #666666; }/*text-decoration: none;}turn off/on underlining of links*/

img {vertical-align: text-bottom;}/*aligns image with bottom of heading text*/

p {text-indent: 2%;}

/*td *:hover {background: #99FF66;}highlight link background on mouseover*/

td{
	
	text-decoration:none;}


#page-container {
	width: 100%;
	background: #fff;
	height:100%;
}



#main-nav { height: 1%; }/*the links at top of the page*/
#main-nav dl { margin: 0; }
#main-nav dt { float: left; padding: 2px; }
#main-nav dl.a {
	font-weight:bold; 
	font-size: 13px;
}

#header {/*the image title and search bar. the search bar may be left out*/
	background: transparent/*#ffe;*/
	float:left;
	height: 10%;
	width:80%;
	margin-left: 0;
	background-image: url('/kgaugemockup/images/icon_track.gif');
	background-repeat: no-repeat;
}

#sideSearch{
	width:auto;
}

#footer {
	clear: both;
	width:100%;
	height:2%;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #ccc;		
	line-height: 18px;
	border-top: 1px solid #efefef;
}

#mid{/*the middle section of the page*/
	width:100%;
	height:70%;
	position:relative;
	}

#sidebar-right {
	/*background: #f1f1fd; */
	width:15%;
	
  }
#links{
	overflow: auto;
	width:15%;
	position:absolute;
	top:2%; right: 0%; left: 89%; bottom: auto; 
}	
#data{width:76%;}

#scores{
	overflow: auto;
	width:15%;
	position:absolute;
	top:60%; right: 0%; left: 83%; bottom: auto; 
}	

#sidebar-left {/*the log in side bar*/
	/*background: #f1f1fd; */
	width:15%;
}

#content {/*the contents of the div with id contents*/
	/*background: #fff;*/
	font-size: 13px;			
	line-height: 18px;
	height:80%;
	width:70%;
	margin-left:15%;/*to stop text overflowing to left and right*/
	margin-right:15%;
	margin-bottom:18%;
}



#table.sidebarLinks{/*table for scores - probably will be changed to hold data*/
background:lightgray;
font-size: 13px;
line-height: 20px;
float:right;
}
table.sidebarLinks th{	
	background:lightgray;
}
table.sidebarLinks tr{
	background:#eed;
}
table.sidebarLinks td{
	width:inherit;
}

#kghead {/*the kgauge h1 title heading*/
	margin-left: px;
	padding: 0;
	text-decoration: underline;
	vertical-align: top;
}

#notice {/*the warning notice on exam page*/
  border: 1px solid #70a522;
  padding: 5px;
  background: #caea99 /*none repeat scroll 0%*/;
  margin-bottom: 4px;
  font-size: .9em;
  color: #666;
  width:88%;
}