body { 
	color : #223;
	margin: 0;
	padding: 0;
	font-family: "Helvetica CE",  Helvetica, Verdana, Arial; 
	font-size: 0.9em;
	background-image: url(../images/parts/bg_body.gif);
}

h1 {
	color: #ef9832;
	font-size: 1.5em;
	margin: 0 0 5px 0;
	font-weight: bold;
	display: block;
	border-bottom: 1px dotted #00659f;
}

h2 {
	font-size: 1.2em;
	margin: 10px 0 2px 0;
	padding: 0;
	color: #00351f;
}

h3 {
	font-size: 1em;
	color: #ef9832;
	margin: 0;
}

p {
	text-align: justify;
}



.formLabel {
	font-size: .9em;
	margin: 5px 0 2px 0;
	padding: 0;
	color: #776;
	font-weight: 400;
}

table.pageHeader {
	background-color: navy;
	table-layout: automatic;
	color: #fff;
	padding: 0px;
	font-size: .9em;
	font-weight: bolder;
	background-image: url(../images/parts/banner_bg.gif);
	height: 23px;
}

table.pageHeader h2 {
	font-size: 1em;
	margin: 10px 0 2px 0;
	padding: 0;
	color: #eef;
}

/* This table is used to display form elements  */
table.formTable {
	border: 3px #99a solid;
	border-collapse: collapse;
	padding-left: 5px;	
	padding-right: 3px;	
	padding-bottom: 2px;
	width: 60%;
	margin-left: 2px;
	
}

table.formTable td{
	padding-left: 5px;	
	padding-right: 3px;	
	padding-bottom: 2px;
	padding-top: 2px;
}

table.formTable th{
	padding-left: 2px;	
	padding-right: 3px;	
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #ddd;
	color: #666;
	left: 0px;
	margin-left: 2px;
	
}

table.dataTable {
	color: #334;
	padding: 2px 8px 2px 8px;
	font-size: 1.2em;
	border-collapse: collapse;
	border-bottom: 1px #999 solid;
}

table.dataTable tr {
	border-top: 1px solid #aaa;
}

table.dataTable tr.even {
	background-color: #eee;
}


table.dataTable th {
	background: #99a;
	color: navy;
	border-bottom: 1px solid #557;
	border-top: 1px solid #557;
	background-image: url(../images/parts/tblheader.gif);
}

table.dataTable a:link {
	text-decoration: underline;
}

.errMessage{
	color: darkred;
	font-size: 1.1 2m;
	font-weight: bolder;	
}



#header {
	margin: 10px;
	height: 95px;
	background-color: #ffcc33;
	background-image: url(../images/header_graphic.gif);
	background-repeat: no-repeat;
	background-position: 100% 25%;
}

#left {
	position: absolute;
	left: 10px;
	top: 134px;
	width: 180px;
	background-color: #FFFFFF;
	border: 2px none #666666;
}

#center {
	top: 0;
	margin-left: 200px;
	margin-right: 230px;
	height: 400px;
	min-height: 400px;
}

*>#center {
	height: auto;
}

#center_more {
	top: 0;
	margin-left: 200px;
	margin-right: 10px;
	height: 400px;
	min-height: 400px;
	text-align: left;
}

*>#center_more {
	height: auto;
}

#right {
	position: absolute;
	right: 10px;
	top: 134px;
	width: 200px;
	border: 2px solid #666666;
	background-color: #FFFFCC;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#footer {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: .9em;
	color: #000;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-color: #bbb;
	vertical-align: bottom;
	clear: both;
}

a:link {
	text-decoration: underline;
}

#footer ul {
	margin-left: 0;
	margin-bottom: 5px;
	padding-left: 0;
	display: inline;
}

#footer ul li {
	margin-left: 0;
	padding: 4px 9px 4px 8px;
	list-style: none;
	display: inline;
	border-right: 1px dotted #066;
}

button btnClass {
	font-family: sans-serif;
	font-size: large;
	font-style: italic;
	background: #22e none;
	color: #eee;
	width: 10em;
}

#footer ul li.last {
	border-right: 0px;
}

#footer a:link,#footer a:visited {
	color: blue;
}

#footer a:hover {
	color: #6C99FF;
}

/* general anchor colors */
a:visited {
	color: #333333;
}

a:hover {
	color: #6C99FF;
	text-decoration: underline;
}


input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#eef;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#663;
   border-bottom-color:#663;
   height:19px;
   background-image: url(../images/parts/bg_button.gif);
}

/* Div to show success / info message */
#infoMessage{
	width: 60%;
	background-color: #dfd;	
	border: 1px solid darkGreen;
	font-weight: bold;
	font-size: .9em;
	padding: 13px 13px 13px 38px;
	background-image: url("../images/icons/success_icon.gif") ;
	background-repeat: no-repeat;
	background-position: .2em;
	padding-top: 8px; 
	color:#334;
}
   
   
   

/* buttons */
.w3cbutton4 {
	margin: 1em 0;
	width: 9em;
	font-family: helvetica, arial, sans-serif;
	font-size: 99 %;
	font-weight: bold;
}

.w3cbutton4 a {
	display: block;
	width: 100%;
}

.w3cbutton4 a:link,.w3cbutton4 a:visited,.w3cbutton4 a:hover {
	background-color: #fc6;
	color: #000;
	text-decoration: none;
}

.w3cbutton4 a:link,.w3cbutton4 a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 2px solid #4a4a4a;
}

.w3cbutton4 a:hover {
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
}

.w3cbutton4 span.w3c {
	padding: 0 0.4em;
	background-color: #fff;
	color: #0c479d;
}