
##Generates attributes for the given class and all its components
#macro(generateAttributesForClass $cls $clsName)
	         		#generateAttributes($cls $clsName)
		  	       
		  	       #set($componentMap = ${manager.getComponents($cls)} )
		  	       
		  	       #foreach( $component in ${componentMap.keySet()} )
		  	        #set($compClass = ${componentMap.get($component)})
		  	        #set($compName = "$clsName.${component}")			
		  	        #generateAttributes(  $compClass $compName )
		  	       			#end
#end

#macro( generateAttributes $cls $clsName )
	  			#foreach( $attribute in $cls.Attribute())			
		  	  #attributeInputHtm($attribute $clsName )     			  
		  				#end
#end 

## e.g values attribute - city clsName - customer.primaryAddress component-primaryAddress 
#macro( attributeInputHtm $attribute $clsName )
		    <h:outputText value="${utils.getViewLabel($attribute)}" styleClass="formLabel" /> 
    <h:inputText id="${clsName.replace('.', '_')}_${attribute.NameS()}" value="#{${utils.asVariable($clazz.NameS() )}CrudBacking.$clsName.${attribute.NameS()}}" ${utils.getRequired($attribute)} /> 
    <h:message for="${clsName.replace('.', '_')}_${attribute.NameS()}" />
#end 

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<head>
						        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
        <title>Manage $clazz.NameS()</title>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/screen.css"/>
    </head>
    <body>
    <f:view>
            <h:form id="form">
				  				               <h:panelGrid columns="3" >
				  ##set the current class name e.g. customer 
				  #set($clsName = ${utils.asVariable($clazz.NameS() )} )
				  
				  #foreach( $superclass in ${manager.getSuperClasses($clazz)} )			
 		  	#generateAttributesForClass($superclass $clsName)       			
  				#end			
		  			
		  	#generateAttributesForClass($clazz $clsName)      
		  
		  							   <h:commandButton id="button1" value="Submit" action="#{${clsName}CrudBacking.update}"/> 
		  			
		  	 			      
				                  </h:panelGrid>
             </h:form>
        </f:view>
    </body>
</html>
						
		