##A template to list all entities of a given kind

#macro(generateDataColumnForClass $cls $clsName)
	         		#generateDataColumn($cls $clsName)
		  	       
		  	       #set($componentMap = ${manager.getComponents($cls)} )
		  	       
		  	       #foreach( $component in ${componentMap.keySet()} )
		  	        #set($compClass = ${componentMap.get($component)})
		  	        #set($compName = "$clsName.${component}")			
		  	        #generateDataColumn(  $compClass $compName )
		  	       			#end
#end


#macro( generateDataColumn $cls $clsName)
	  			#foreach( $attribute in $cls.Attribute())			
		  	  #generateAttributeColumn($attribute $clsName)     			  
		  				#end
#end 

##Generate columns for the data table using entity's attributes
#macro( generateAttributeColumn $attribute $clsName)
			   <t:column>
				   <f:facet name="header">
				     <t:commandSortHeader columnName="${clsName}.${attribute.NameS()}" arrow="true">
					       <t:outputText value="${utils.getViewLabelFromVariable($attribute.NameS())}" />
					     </t:commandSortHeader>
				   </f:facet>
				      <t:outputText value="#{${clsName}.${attribute.NameS()}}" />
						   </t:column>
#end 

#macro( generateDataScroller )
			  <t:dataScroller id="scroll_1" for="data" fastStep="10"
					pageCountVar="pageCount" pageIndexVar="pageIndex"
					styleClass="scroller" paginator="true" paginatorMaxPages="9"
					paginatorTableClass="paginator"
					paginatorActiveColumnStyle="font-weight:bold;" immediate="true"
					>
					<f:facet name="first">
						<t:graphicImage url="/images/dataScroller/arrow-first.gif"
							border="1" />
					</f:facet>
					<f:facet name="last">
						<t:graphicImage url="/images/dataScroller/arrow-last.gif"
							border="1" />
					</f:facet>
					<f:facet name="previous">
						<t:graphicImage url="/images/dataScroller/arrow-previous.gif"
							border="1" />
					</f:facet>
					<f:facet name="next">
						<t:graphicImage url="/images/dataScroller/arrow-next.gif"
							border="1" />
					</f:facet>
					<f:facet name="fastforward">
						<t:graphicImage url="/images/dataScroller/arrow-ff.gif" border="1" />
					</f:facet>
					<f:facet name="fastrewind">
						<t:graphicImage url="/images/dataScroller/arrow-fr.gif" border="1" />
					</f:facet>
				</t:dataScroller>
#end 

## We need to generate columns that have edit, delete link etc. 
#macro( generateEditColumns )
	   		<t:column>
								                    <f:facet name="header">
							                      <t:commandSortHeader columnName="id" arrow="true">
								                        <t:outputText value=" " />
							                      </t:commandSortHeader>
						                    </f:facet>
						                    <t:commandLink action="#{${clsName}CrudBacking.select}"  
						                            actionListener="#{${clsName}CrudBacking.selectEntity}"  >
							                      <t:outputText value=" Edit " />
							                      <f:param id="editId" 
		                         	 						name="id" 
    	 					                  value="#{${clsName}.id}" />
						                    </t:commandLink>
					                </t:column>
#end



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="/WEB-INF/template/templateCrud.xhtml">

	<ui:define name="content">

    <f:view>
            <h:form id="form">
              #set($clsName = ${utils.asVariable($clazz.NameS() )} )
            
            <t:dataTable id="data" var="$clsName" value="#{${clsName}CrudBacking. ${clsName}s}" >
		               
            
				  #foreach( $superclass in ${manager.getSuperClasses($clazz)} )			
 		  	#generateDataColumnForClass($superclass $clsName)       			
  				#end			
		  			
		  	#generateDataColumnForClass($clazz $clsName)  
		  
			  #generateEditColumns() 
		             
				
		</t:dataTable>
		
					 #generateDataScroller()
		
		</h:form>
	
  </f:view>
    </ui:define>
</ui:composition>



