##A template to list all entities of a given kind

#macro(generateDataColumnForClass $cls $clsName)
	         		#generateDataColumn($cls $clsName)
		  	       
		  	       #set($componentMap = ${manager.getComponents($cls)} )
		  	       
		  	       #foreach( $component in ${componentMap.keySet()} )
		  	        #set($compClass = ${componentMap.get($component)})
		  	        #set($compName = "$clsName.${component}")			
		  	        #generateDataColumn(  $compClass $compName )
		  	       			#end
#end


#macro( generateDataColumn $cls $clsName)
	  			#foreach( $attribute in $cls.Attribute())			
		  	  #generateAttributeColumn($attribute $clsName)     			  
		  				#end
#end 

##Generate columns for the data table using entity's attributes
#macro( generateAttributeColumn $attribute $clsName)
			   <t:column>
				   <f:facet name="header">
					     <t:outputText value="${utils.getViewLabelFromVariable($attribute.NameS())}" />
				   </f:facet>
				   <t:outputText value="#{${clsName}.${attribute.NameS()}}" />
				   </t:column>
#end 



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="/WEB-INF/template/templateCrud.xhtml">

	<ui:define name="content">

    <f:view>
            <h:form id="form">
              #set($clsName = ${utils.asVariable($clazz.NameS() )} )
            
            <t:dataTable var="$clsName" value="#{${clsName}CrudBacking. ${clsName}s}" >
		                
            
				  #foreach( $superclass in ${manager.getSuperClasses($clazz)} )			
 		  	#generateDataColumnForClass($superclass $clsName)       			
  				#end			
		  			
		  	#generateDataColumnForClass($clazz $clsName)  
				
		</t:dataTable>
		</h:form>
	
  </f:view>
    </ui:define>
</ui:composition>