body { width: 40em; margin: auto; }
a { outline: none; }

.ui-accordion {
	 margin: 0; padding: 0;
	 }
.ui-accordion li {
	 list-style-type: none;
	 border-bottom: 2px solid white;
	 }
.ui-accordion li .ui-accordion-header {
	 margin: 0; padding: 0 1em;
	 font: bold 14px/28px sans-serif;
	 color: #eef;
	 background-color: #aaf;
	 text-decoration: none;
	 display: block;
	 }

a.personName:hover { color: white; }
ul.infolist { display: block; }

.person {
	 background-color: #eef;
	 margin: 0; padding: 0;
	 border-bottom: 1px solid #ccf;
	 }
.person ul { padding: 0 3em 2em; }
.person ul li {
	 padding-top: 1em;
	 border: 0 none;
	 }
.person td{
   background-color: #ffffff;
   font-weight: bold;
}
li:before {
	 color: #66f;
	 font-weight: bold;
	 display: inline-block;
	 width: 4.5em;
	 }

li.portrait img {
	 float: right;
	 margin: 1em;
	 border: 1px solid #ccf;
	 }
li.title:before { content: "Title: "; }
li.office:before { content: "Office: "; }
li.phone:before { content: "Phone: "; }
li.email:before { content: "E-mail: "; }
li.bio:before { content: "Bio: "; }


body {
  background-color: #ffffff;
  color: #000000;
  font-size: 90%;
}

h3{
background-color: #4ee5fa;
}
.clmonth {
  border-collapse: collapse;
  width: 576px;
}
.clmonth caption {
  text-align: left;
  font: bold 110% Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0.4em;
}
.clmonth th {
  border: 1px solid #AAAAAA;
  border-bottom: none;
  padding: 0.2em 0.6em 0.2em 0.6em;
  background-color: #0187d7;
  color: #3F3F3F;
  font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 110px;
}
.clmonth td {
  border: 1px solid #EAEAEA;
  font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0em 0em 0.2em 0.6em;
  vertical-align: top;
}

.clmonth td.active {
  background-color: #B1CBE1;
  color: #2B5070;
  border: 2px solid #4682B4;
}
.clmonth ul {
  list-style-type:none;
  margin: 0;
  padding-left: 1em;
  padding-right: 0.6em;

}
.clmonth li {
  margin-bottom: 1em;
}

.clmonth td.input{
    width:16px;
    

}

.clmonth td.blue {
  background-color: #11ffc9;
  color: #2B5070;
  border: 2px solid #4682B4;
}
.popup1, .popup2{
background-color: #4ee5fa;
color: #2B5070;
}
.text1{background-color: #ffffff;}
#overlap_page{
background-color: #ffffff;
}
.pretty-hover, #apps td:hover {
  background: #b1c7f3;
  cursor: pointer;

}

td.previous,  td.next {
  background-color: #bbc7f3;
  color: #140a50;
}
td.p.draggable{
        background-color:#F6F6F6;
          color: #C6C6C6;}
body #cal{
width:200px;
float:right;
}

.sortable td {
background: #ffc;
}