@media Screen, Projection    
{
.ui-tabs-hide {
	DISPLAY: none
}

}

@media Print    
{
.ui-tabs-nav {
	DISPLAY: none
}
    }
.ui-tabs-nav {
	FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif; FONT-SIZE: 12px
}
.ui-tabs-panel {
	FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif; FONT-SIZE: 12px
}
.ui-tabs-nav {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.ui-tabs-nav:after {
	DISPLAY: block; CLEAR: both; CONTENT: " "
}
.ui-tabs-nav LI {
	MIN-WIDTH: 84px; MARGIN: 0px 0px 0px 1px; FLOAT: left
}
.ui-tabs-nav A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/tab.png) no-repeat; PADDING-TOP: 0px
}
.ui-tabs-nav A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/tab.png) no-repeat; PADDING-TOP: 0px
}
.ui-tabs-nav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.2; MARGIN: 1px 0px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; WHITE-SPACE: nowrap; COLOR: #27537a; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ui-tabs-nav .ui-tabs-selected A {
	Z-INDEX: 2; POSITION: relative; MARGIN-TOP: 0px; COLOR: #000; TOP: 1px
}
.ui-tabs-nav A SPAN {
	MIN-WIDTH: 64px; MIN-HEIGHT: 18px; WIDTH: 64px; PADDING-RIGHT: 0px; HEIGHT: 18px; PADDING-TOP: 6px
}
* > .ui-tabs-nav A SPAN {
	WIDTH: auto; HEIGHT: auto
}
.ui-tabs-nav .ui-tabs-selected A SPAN {
	PADDING-BOTTOM: 1px
}
.ui-tabs-nav .ui-tabs-selected A {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A:hover {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A:focus {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A:active {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A {
	BACKGROUND-POSITION: 100% -100px
}
.ui-tabs-nav .ui-tabs-disabled A:hover {
	BACKGROUND-POSITION: 100% -100px
}
.ui-tabs-nav .ui-tabs-disabled A:focus {
	BACKGROUND-POSITION: 100% -100px
}
.ui-tabs-nav .ui-tabs-disabled A:active {
	BACKGROUND-POSITION: 100% -100px
}
.ui-tabs-nav .ui-tabs-selected A SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A:hover SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A:focus SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A:active SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A SPAN {
	BACKGROUND-POSITION: 0px 0px
}
.ui-tabs-nav .ui-tabs-disabled A:hover SPAN {
	BACKGROUND-POSITION: 0px 0px
}
.ui-tabs-nav .ui-tabs-disabled A:focus SPAN {
	BACKGROUND-POSITION: 0px 0px
}
.ui-tabs-nav .ui-tabs-disabled A:active SPAN {
	BACKGROUND-POSITION: 0px 0px
}
.ui-tabs-nav .ui-tabs-selected A:link {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-selected A:visited {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-disabled A:link {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-disabled A:visited {
	CURSOR: text
}
.ui-tabs-nav A:hover {
	CURSOR: pointer
}
.ui-tabs-nav A:focus {
	CURSOR: pointer
}
.ui-tabs-nav A:active {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-deselectable A:hover {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-deselectable A:focus {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-deselectable A:active {
	CURSOR: pointer
}
.ui-tabs-disabled {
	FILTER: alpha(opacity=40); opacity: .4
}
.ui-tabs-panel {
	PADDING-BOTTOM: 1em;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	BACKGROUND: #fff;
	BORDER-TOP: #e0e0e0 1px solid;
	PADDING-TOP: 1em;
	border-bottom: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-right: #e0e0e0 1px solid;
}
.ui-tabs-loading EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(loading.gif) no-repeat 0px 50%; PADDING-TOP: 0px
}
* HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
*:first-child + HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
