/* Define global properties to be applied to every element unless 
   otherwise specified 
*/

html, body
{
	/* Force things to go right to the top or the bottom of the page 
	   but keep a little bit away from the left/right edges 
	*/
	padding: 0;
	margin: 0 5% 0 5%;
	border-width: 0;
	text-align: left;
}

body {
	/* Set up background colour of page */
	background: white;
	background-color: white;


	/* set up font properties such as face and colour and size */
	color: #003399;
	font-family: geneva, arial, verdana, sans-serif;
	font-size: medium;

}



/* Define styles for the different headers */
h1 {
	font-weight: bold;
	font-size: large;
	color: green;
	padding-top: 25px;
}



/* define code sample boxes  and content formatting */
.codebox, .outputbox {
	padding: 0% 2% 0% 2%;
	margin: 2% 10% 5% 10%;
	border-color: #0C0;
	border-width: 2px;
	border-style: solid;
}

pre {
	font-family: monoco, courier, fixed;
	color: black;
}


.dynamic_text {
	color: purple;
}

.inline_js {
	color: purple;
	font-family: monoco, courier, fixed;
}