
#* mail template for CredentialsEmail *#

Dear $candidate.firstName, 

Your user name is : $candidate.user.username
Your password is:  $candidate.user.password


Regards,
KnowledgeGauge Team