
#* mail template for RegistrationConfirmationEmail *#

Dear $candidate.firstName, 

Welcome to knowledgeGauge and thanks for registering. We look forward to your acing our exams and connecting with
other exam takers and prospective employers. 

Regards
Knowledgegauge Team