* {
    padding: 0;
    margin: 0;
} 

body {
background: #616161;
font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
font-size: 13px;
padding: 0;
margin: 0;
color: #444;
line-height: 17px;
}

img { border: none; }
a { color: #4C69AF; }
a:hover { text-decoration: none; color : #111; }
h3 { border-bottom: 1px dotted #aaa; color: #666; padding-bottom: 4px; margin: 14px 0 7px 0; font-weight: 100; font-size: 22px; letter-spacing: -1px;}
h3 a { text-decoration: none; font-size: 22px; letter-spacing: -1px; }
h3 a:hover { color: #333; }

#wrap {
width: 800px;
margin: 20px auto;
}

#top { 
background: #616161 url(../images/top.jpg) no-repeat;
padding: 10px 0;
}

#header {
height: 120px;
background: #616161 url(../images/header.jpg) no-repeat;
}
#header h1 {
font-size: 38px;
font-weight: 600;
letter-spacing: -2px;
padding: 40px 0 0 33px;
}
#header h1 a {
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #111;
text-decoration: none;
}

#header h2 {
font-size: 16px;
color: #eee;
padding: 9px 0 0 33px;
}

#menu {
height: 30px;
line-height: 30px;
background: #616161 url(../images/menu.jpg) no-repeat;
padding-left: 30px;
}
#menu li
{
float: left;
list-style-type: none;
padding-right: 10px;
}
#menu li a{ 
color: #fff;
display: block;
text-decoration: none;
padding: 0 10px;
font-weight: 100;
}
#menu li a:hover {
background: #666;
}
#menu ul { }


#content { 
padding: 0 20px;
background-color:#fff;
background: #616161 url(../images/content.jpg) repeat-y;
}

#left {
padding: 10px 0 20px 0;
width: 520px;
float: left;
font-size: 12px;
text-align: justify;
}
#left h3 { border-bottom: 1px dotted #6C91FC; }

#right {

width: 200px;
float: right;
padding: 10px 0 20px 0;
}
#right h3 { color: #666; }
#right ul { list-style-type: none; padding: 10px 0 10px 0; }
#right ul li { padding: 2px 0 3px 0; }
#right ul li a { color: #4C69AF; font-weight: 100; display: block; text-decoration: none; font-size: 14px; border-bottom: 1px dotted #aaa; }
#right ul li a:hover { color : #111; }

#footer {
font-size: 11px;
color: #eee;
text-align: center;
height: 30px;
line-height: 30px;
background: #880000 url(../images/footer.jpg) no-repeat;
}
#footer a { 
color: #eee;
}
#footer a:hover {
color: #aaa; 
text-decoration: underline; 
}

#bottom {
background: #616161 url(../images/bottom.jpg) no-repeat;
padding: 5px 0;
}